{% extends 'master_template.html' %}

{% block nav %}

{% endblock %}


{% block header_text %}
<center>
<h3>Transaction failed please try again!!!!</h3>
<br>
<br>
<br>
</center>
{% endblock %}

{% block header_image %}
{% endblock %}

{% block footer %}
    <footer>

        
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    
                        <b><strong>
                    <p class="copyright">Copyright &copy; 2020-2021, Art Gallery </p>
                        <p>Designed And Developed By: Ajinkya Pradhan</p>
                    </p>
                        </strong></b>
                    
                </div>
                
            </div>
        </div>
        
    </footer>
    {% endblock %}