{% extends 'userhome.html' %}

{% block header_text %}
<center>
<h3>Change Your Password Here!!!!!</h3>

<br>
<br>

<font color="orange">{{msg}}</font>    
    <form method="POST" action=/user/changepassworduser/ >
    {% csrf_token %}
    
    <table cellspacing="5" cellpadding="5">
    <tr>
        <td>Old password &nbsp;</td>
        <td><input type="password" name="oldpass" placeholder="Enter old password"/></td>    
    </tr>

    <tr>
        <td>New password &nbsp;</td>
        <td><input type="password" name="newpass" placeholder="Enter new password"/></td>    
    </tr>

    <tr>
        <td>Confirm New password &nbsp;</td>
        <td><input type="password" style="width: 100%;" name="confirmnewpass" placeholder="Confirm new password"/></td>    
    </tr>

    
    <tr>
        <td colspan="2">
        <center>
        <br>
        <br>
        <input type="submit" name="sub" value="Change Password"/>    
        </center>
        </td>    
    </tr>

    </table>

    </form>
    </center>

{% endblock %}

{% block footer %}
    <footer>

        

        
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    
                        <b><strong>
                    <p class="copyright">Copyright &copy; 2020-2021, Art Gallery </p>
                        <p>Designed And Developed By: Ajinkya Pradhan</p>
                    </p>
                        </strong></b>
                    
                </div>
                
            </div>
        </div>
        
    </footer>
{% endblock %}