{% extends 'master_template.html' %}

{% block nav %}
<ul class="nav">
<li class="scroll-to-section"><a href="/myadmin/" class="active">Admin Home</a></li>
<li class="scroll-to-section"><a href="/myadmin/manageusers/" >Manage Users</a></li>
<li class="scroll-to-section"><a href="/myadmin/addcategory/" >Add Category</a></li>
<li class="scroll-to-section"><a href="/myadmin/addsubcategory/" >Add SubCategory</a></li>
<li class="scroll-to-section"><a href="/login/">Logout</a></li>
</ul>
{% endblock %}


{% block header_text %}
<h3>Welcome to Art Gallery Admin Panel</h3>
<br>
<br>
<br>
{% endblock %}

{% block header_image %}

{% endblock %}