{% extends 'master_template.html' %}

{% block header_text_text %}
<br><br><br><br><br><br>
<h2><strong>REGISTER HERE!!!!!!!!</strong></h2>    

<font color="red">{{msg}}</font>
<form method="post" action="/register/">
{% csrf_token %}
<table cellspacing="5" cellpadding="5">

    
    <tr>
        <td>Name &nbsp;</td>
        <td><input type="text" name="name" placeholder="Enter name"/></td>
    </tr>

    <tr>
        <td>UserName &nbsp;</td>
        <td><input type="email" name="username" placeholder="Enter username/email"/></td>
    </tr>

    <tr>
        <td>Password &nbsp;</td>
        <td><input type="password" name="password" placeholder="Enter password"/></td>
    </tr>

    <tr>
        <td>Mobile Number &nbsp;</td>
        <td><input type="text" name="mobile" placeholder="Enter Mobile Number"/></td>
    </tr>

    <tr>
        <td>Address &nbsp;</td>
        <td><textarea name="address" placeholder="Enter Address"></textarea></td>
    </tr>

    <tr>
        <td>City &nbsp;</td>
        <td><select name="city">
            <option>Select City</option>
            <option>Indore</option>
            <option>Ujjain</option>
            <option>Gwalior</option>
            <option>Jabalpur</option>
            <option>Dhar</option>
            <option>Bhopal</option>
            <option>Ratlam</option>
        </select></td>
    </tr>
    <br>
    
    <br>
    <tr>
        <td colspan="2">
            <center>
                <br>
        <input type="submit" name="sub" value="Register"/></td>
            </center>
    </tr>
    

</table>
</form>
{% endblock %}